<html>
<head>

<title>Tweet Counter</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}" type="favicon/ico" />

</head>


<body>

<script>
function show(){
	var e = document.getElementById('cssload-loader');
	e.style.display = 'block';
	document.getElementById('sbmt').value = 'COUNTING';
	document.getElementById('note').style.display = 'block';
}
</script>

<center>

<div id='box'>
	<h1>Tweet Counter</h1>

	<form action='http://127.0.0.1:5000/login' method='post'>

		<p>Enter word :&emsp;&emsp;&nbsp;&nbsp;<input type='text' name='nm'></p>
		<p>Enter duration :&emsp;
			<select name='tm'>
			<option value='1 day'>1 day</option>
			<option value='2 day'>2 day</option>
			<option value='3 day'>3 day</option>
			</select>
		</p>
		<p><input id='sbmt' type='submit' value='SUBMIT' onclick='show()'></p>

	</form>
	<br>
	<div id="cssload-loader" ></div>
	<br>
	<p id='note'>NOTE - Fetching data from Twitter may even take minutes depending upon the popularity of word and the duration.</p>
</div>

</center>

</body>

</html>
