<html>
<head>

<title>Tweet Counter</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='icon.ico') }}" type="favicon/ico" />

</head>


<body>

<script>
function show(){
	var e = document.getElementById('cssload-loader');
	e.style.display = 'block';
	document.getElementById('sbmt').value = 'COUNTING';
	document.getElementById('note').style.display = 'block';
}
</script>

<center>

<div id='box'>
	<h1 id='hd'>Tweet Counter</h1>
	<br>
	<p>THE COUNT IS {{count}}</p>

	<p>App built by Prateek Agarwal.</p>
	<div id="cssload-loader" ></div>

	<div style="position:absolute;bottom:-100px;font-size: 16px;">
	Email - prateeka.ec.14@nitj.ac.in
	</div>

	<div style="position:absolute;bottom:-100px;right:0px;font-size: 14px;">
	<a href="https://github.com/prrateekk/twitter_word_count" target="_blank">Github</a>
	</div>
</div>
</center>
</body>

</html>
